body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("c:/Users/HAMAD AHMAD/OneDrive/Desktop/2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    backdrop-filter: blur(5px);
}

.container {
    text-align: center;
    background-color: rgba(77, 76, 76, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("c:/Users/HAMAD AHMAD/OneDrive/Desktop/1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1px);
    z-index: -1;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
}

#time {
    margin-bottom: 20px;
}

.digit {
    font-size: 2em;
    margin: 0 5px;
}

.txt {
    font-size: 1em;
    margin: 0 5px;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}